@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;

}

.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-icons {
  height: 50px;
  margin: 20px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  width: 100%;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {width: 85%; background-color: rgb(243, 73, 21);}
.css {width: 70%; background-color: #2196F3;}
.js {width: 45%; background-color: #000000;}
.angular {width: 30%; background-color: #c20f0f;}
.react {width: 10%; background-color: #5db9ee;}
.java {width: 60%; background-color: #104564;}
.c {width: 25%; background-color: #2a2b2c;}
.cplusplus {width: 35%; background-color: #104564;}
.csharp {width: 30%; background-color: #7a8c96;}
